rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Функции-помощники
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }
    
    function isValidEmail(email) {
      return email.matches('^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$');
    }
    
    // Правила для коллекции пользователей
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Правила для верификационных кодов
    match /verificationCodes/{email} {
      allow read, write: if true;
    }
  }
} 