<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.447110942310-23ndilmjocmh2v7k9oq7v5i4tqc3fa84</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>447110942310-23ndilmjocmh2v7k9oq7v5i4tqc3fa84.apps.googleusercontent.com</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<false/>
	<key>FirebaseAppCheckDebugEnabled</key>
	<true/>
	<key>AppCheckDebugToken</key>
	<string>DEBUG_TOKEN</string>
</dict>
</plist>
